<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.knbhatt.nainitour1">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoapp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".About" android:label="About"/>
        <activity android:name=".PlacesToVisit" android:label="Place To Visit"/>
        <activity android:name=".Hotels" android:label="Hotels" />
        <activity android:name=".Restaurants" android:label="Restaurants"/>
        <activity android:name=".FamousLocalFood" android:label="Famous Local Food"/>
        <activity android:name=".AdventoursActivity" android:label="Adventours Activities"/>
        <activity android:name=".HowToReach" android:label="How To Reach"/>
    </application>

</manifest>